---
layout: layouts/base.njk
title: "What I'm Reading"
tags:
  - nav
navtitle: Reading
permalink: /reading/index.html
stylesheet: reading
stylingClass: reading
---

<h1>
  What I've read
  <a href="" class="read-this-year">this year</a>
  <span class="divider">/</span>
  <a href="" class="read-overall">overall</a>
</h1>

<p>
  Brief reviews of what I've read in 2020. This year, I'm particularly interested in reading nonfiction about: urbanism, the environment. For fiction: contemporary writers in the U.K., some more things to write here…
</p>

<section class="reading-2020">
  <ol class="reading-list">
    {% for book in Books2020 %}
      <li class="reading-list-book">
        {% if book.cover %}
          <div class="reading-list-book-cover">
            {% set coverURL = "/reading/covers/" + book.cover %}
            <img src={{ coverURL }}>
          </div>
        {% endif %}
        <div class="reading-list-book-title">
          {{ book.title }}
        </div>
        {% if book.author != "Various" %}
        <div class="reading-list-book-author">
          {{ book.author }}
        </div>
        {% endif %}
        {% if book.summary %}
        <p class="reading-list-book-summary">
          {{ book.summary }}
        </p>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</section>
