---
layout: layouts/base.njk
title: "What I'm Reading"
tags:
  - nav
navtitle: Reading
permalink: /reading/index.html
stylesheet: reading
stylingClass: reading
---

<p>
  Some introduction here.
</p>

<p>
  Legend: <s>Not recommended</s>, * Highly recommended
</p>

<section class="reading-2020">
  <h2>2020</h2>
    <h3>Books</h3>
    <ol>
      {% for book in Books2020 %}
        <li>
          <span class="book-title">
            <em>{{ book.title }}</em>
          </span>
          <span class="book-author">
            {{ book.author }}
          </span>
          {% if book.cover %}
            {% set coverURL = "/reading/covers/" + book.cover %}
            <img src={{ coverURL }}>
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    <h3>References</h3>
  <ul>
</section>

<h2>2019</h2>
