@import "compass";
@import "foundation";
@import "type/ss-social-circle";
@import "type/ss-social-regular";
@import "http://fonts.googleapis.com/css?family=Montserrat";

@mixin skolar {
	font-family: "skolar", serif;
	font-style: italic;
}

@mixin garamond {
	font-family: "adobe-garamond-pro", 'Garamond', serif;
}

@mixin proxima-nova {
	font-family: "proxima-nova", serif;
}

@mixin montserrat {
	font-family: 'Montserrat', Calibri, Helvetica, Arial, Verdana, sans-serif;

}

$edge-spacing: 15px;
$element-spacing: 20px;
$inner-spacing: 30px;
$medium-breakpoint: 850px;
$small-breakpoint: 550px;
$orange: #DB5A23;
$blue: #14BEC4; // #26948e;
$darkerblue: darken(#14BEC4, 5%);
$lighterblue: #15C7D4;
$cream: #FCFBF7;
$background: #fff;
$offgrey: #A3A396;

html, body {height: 100%;}
body {
	color: #333;
	img {margin-bottom: $element-spacing;}
	.featured {
		@include grid-column(12);
	}
	.description {
		@include grid-column(8);
	}
	.details {
		@include grid-column(3, false, false, false, 1);
		@include skolar;
		@include single-transition(all);
		line-height: 24px;
		list-style-type: none;
		li {
			margin-bottom: 10px;
		}
		strong {
			@include montserrat;
			color: $offgrey;
			display: block;
			font-style: normal;
			font-variant: small-caps;
			text-transform: lowercase;
		}
		hr {width: 50%;}
	}
	@media screen and (max-width: $medium-breakpoint) {
		.details {@include grid-column(4, false, false, false, 0)};
	}
	@media screen and (max-width: 790px) {
		.description {@include grid-column(12);}
		.details {@include grid-column(4, false, false, false, 0)};
		.details {@include grid-row;}
		.details li {
			@include grid-column(3);
			border-top: 1px solid #ccc;
			display: inline-block;
			height: 100%;
			padding: $edge-spacing $edge-spacing $edge-spacing 0;
		}
		.details li.longform {
			@include grid-row;
			border-top: 1px solid #ccc;
			padding-top: $edge-spacing;
		}
		.details hr {display: none;}
	}
	@media screen and (max-width: $small-breakpoint) {
		.details li {
			@include grid-column(6);
			padding-left: 0;
		}
	}
}

p {
	font-size: 15px;
	line-height: 1.8;
	> span.lead {
		@include montserrat;
		font-size: 14px;
		// color: $orange;
	}
}

a {
	@include single-transition(all);
	color: $blue;
	&:hover {
		color: $darkerblue;
	}
}
#main a {
	&:hover {
		border-bottom: 1px solid #ddd;
	}
}

#main > section {
	@include grid-row;
	> p {
		@include grid-column(12);
	}
	padding-bottom: $inner-spacing;
}


#main {
	background-color: $background;
	padding-top: $inner-spacing;
}

header {
	div {@include grid-row;}
	padding-top: 50px;
	h1, ul {
		@include single-transition(all);
		padding: 0;
	}
	h1 {
		@include montserrat;
		@include grid-column(6);
		font-size: 24px;
		font-weight: bold;
		font-variant: small-caps;
		letter-spacing: 1px;
		line-height: 1.5;
		text-align: left;
		text-transform: lowercase;
		word-spacing: 3px;
		a {
			margin: 0 0 0 -8px;
			@include single-transition(all);
			color: #333;
			display: inline-block;
			&:hover {
				color: $blue;
			}
		}
	}
	ul {
		@include grid-column(6);
		line-height: 36px;
		text-align: right;
	}
	li {
		@include montserrat;
		text-transform: uppercase;
		display: inline-block;
		font-size: 12px;
		a {
			color: #aaa;
		}
	}
	li:before {
		content: "\2014";
		padding-left: 5px;
		padding-right: 10px;
	}
	li:first-child:before {
		content: "";
		padding: 0;
	}
	@media screen and (max-width: $small-breakpoint) {
		h1, ul {text-align: center;}
		h1 {@include grid-column(12);}
		ul {@include grid-column(12);}
	}
}

/*
@645px need to change the navigation from horizontal to vertical in top bar 
*/

.work-display {
	@include block-grid(3, $block-grid-default-spacing, true);
	img {margin-bottom: 0;}
	@include single-transition(all);
	padding: 0 $edge-spacing;
	@media screen and (max-width: $medium-breakpoint) {
		@include block-grid(2, $block-grid-default-spacing, true);
		padding: 0 $edge-spacing;
	}
	@media screen and (max-width: $small-breakpoint) {
		@include block-grid(1, $block-grid-default-spacing, true);
		padding: 0 $edge-spacing;
		text-align: center;
	}
}

footer {
	a {
		color: #aaa;
		&:hover {
			color: #777;
		}
	}
	div {@include grid-row;}
	#colophon, #elsewhere { 
		@include single-transition(all);
		margin-top: $edge-spacing; 
		margin-bottom: $inner-spacing;
		a {
			color: #aaa;
			&:hover {
				color: #777;
			}
		}
		
	}
	#colophon {
		@include grid-column(8);
		@include skolar;
		p {
			font-size: 14px;
		}
		a {
			@include montserrat;
			display: inline-block;
			font-size: 16px;
			font-style: normal;
			font-variant: small-caps;
			letter-spacing: 1px;
			line-height: 30px;
			text-transform: lowercase;
			margin: 0 1px 0 2px;
		}
	}
	#elsewhere {
		@include grid-column(4);
		font-size: 25px;
		line-height: 30px;
		text-align: right;
		ul {
			margin-bottom: 0;
			li {
				display: inline-block;
				padding: none;
				padding-left: 5px;
			}
		}
	}
	@media screen and (max-width: 690px) {
		#colophon, #elsewhere {text-align: center;}
		#colophon {@include grid-column(12);}
		#elsewhere {
			@include grid-column(12);
			margin: -10px auto 10px;
		}
	}
}

img, figure img {
	border: 1px solid darken($background, 5%);
}

figure.text-overlay {
	overflow: hidden;
	position: relative;
	text-align: center;
	img {
		@include single-transition(all);
	}
	figcaption {
		color: rgba(255, 255, 255, 0.8);
		display: none;
	  position: absolute;
	  top: 45%;
	  width: 100%;
	  &.long {top: 35%;}
	  h6, p {
	  	@include single-text-shadow(#091d2c, 0px, 1px, 2px);
	  }
	  hr {
	  	background-color: rgba(255, 255, 255, 0.7);
	  	border: 0;
	  	height: 1px;
	  	margin: 0 auto 15px;
	  	width: 25%;
	  }
	  h6 {
	  	@include montserrat;
	  	color: rgba(255, 255, 255, 0.8);
	  	display: inline-block;
	  	font-size: 1.2em;
	  	font-variant: small-caps;
	  	letter-spacing: 2px;
	  	text-transform: lowercase;
	  }
	  p {
	  	@include skolar;
	  	font-size: 1em;
	  	line-height: 1.3;
	  	padding: 0 15%;
	  	text-align: center;
	  }
	}
	&:hover {
		img {
			@include filter(brightness(30%));
		}
		figcaption {display: block;}
	}
}

.description h3 {
	@include montserrat;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 1em;
	// font-style: italic;
	color: #444;
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd;
	display: inline-block;
}