<footer>
	<div>
	<div id="colophon">
	<p><%= link_to "hello@celinenguyen.com", "mailto:hello@celinenguyen.com?subject=Hello!" %></p>
</div>

<div id="elsewhere">
	<div>
	<ul>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Twitter", "https://twitter.com/mynameisceline" %>
		</li>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Pinterest", "http://pinterest.com/celinenguyen" %>
		</li>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Dribbble", "http://dribbble.com/celinenguyen" %>
		</li>
	</ul>
	</div>
</div>
</div>
</footer>