<ul class="work-display">

	<% data.work.each do |item| %>
  <li>
  	<a href="/<%= item.permalink %>">
	  	<figure>
		  	<%= image_tag item.thumb %>
		  	<figcaption>
		  		<h4><%= item.type.titlecase %></h4>
		  		<p><%= item.description %></p>
		  	</figcaption>
	  	</figure>
	  </a>
  </li>
 	<% end %>
</ul>