---
bodyclass: portfolio
---

<section>
	<a href="http://celinenguyen.github.io/typeface-grid-game/">
		<figure class="text-overlay featured">
			<%= image_tag "helveticagrid-large.png" %>
			<figcaption>
				<h6>View interactive grid</h6>
			</figcaption>
	</figure>
	</a>
	<div class="description">
		<p><span class="lead">I put together this interactive demo of the typeface Helvetica Neue for a typography studio assignment</span>. We were required to present a 3-by-3 grid (featuring cropped characters within each box) and factual details about the typeface and designer. I chose to do an interactive piece where you could slide around the characters within the grid (to make new grid compositions out of the characters&mdash;which was a preliminary print assignment for this project) and reveal factoids about the typeface underneath.</p>
		<p>Additional interactive features: you can refresh the grid to get new characters, double-click the grid squares to invert the colours and play with different figure-ground relationships, and toggle inclusion of bold and italic characters.</p>
	</div>
	<ul class="details">
		<li><strong>Year</strong> 2013</li>
		<li><strong>For</strong> Typography studio class</li>
		<li><strong>Github</strong> <a href="https://github.com/celinenguyen/typeface-grid-game">View Github repository</a>
	</ul>
<section>