---
bodyclass: portfolio
---

<section>
	<!-- <a href="#">
		<figure class="text-overlay featured">
			<%= image_tag "http://placehold.it/1000x400&text=%20" %>
			<figcaption>
				<h6>View PDF</h6>
			</figcaption>
	</figure> -->
	</a>
	<div class="description">
		<p><span class="lead">I write essays on design and technology</span> over at <%= link_to "Medium", "https://medium.com/@mynameisceline" %>. I'll be doing a modified <%= link_to "NaNoWriMo", "http://nanowrimo.org/" %> challenge for the month of November to write additional reflections on design as well!</p>
	</div><!-- 
	<ul class="details">
		<li><strong>Year</strong> N/A</li>
		<li><strong>For</strong> N/A</li>
	</ul> -->
<section>