<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}

	<body {% if stylingClass %}class="{{ stylingClass }}"{% endif %}>
    {% include "components/header.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

	</body>
</html>
