---
layout: layouts/index.njk
permalink: /
---

<div class="content">
  <section class="intro">
    <div class="intro-color"></div>
    <p class="intro-about">Design historian (in training) and former digital product designer. I read nonstop. I’m very quiet online and rarely <a href="https://twitter.com/mynameisceline">tweet</a>. I spend most of my time on <a href="https://www.goodreads.com/user/show/23270655-celine-nguyen" title="Goodreads">Goodreads</a>, <a href="https://www.are.na/celine-nguyen">Are.na</a>, and <a href="https://www.pinterest.com/celinenguyen/">Pinterest</a>. I (sometimes) post to <a href="http://instagram.com/doublepluslovely">Instagram</a>.</p>
    <p class="intro-email">
      <a href="mailto:hello@celinenguyen.com">hello@celinenguyen.com</a>
    </p>
  </section>
  <section class="excited">
    <h2 class="excited-open">I'm very excited about</h2>
    <p class="excited-list">
      {% for e in ExcitedBy %}
        {% if loop.index is odd %}
          <span class="a">{{ e }}</span>
        {% else %}
          <span class="b">{{ e }}</span>
        {% endif %}
        {% if not loop.last %}
          <span class="divider">/</span>
        {% endif %}
      {% endfor %}
    </p>
    <h2 class="excited-close">so feel free to talk to me about these things!</h2>
  </section>
  <section class="cv">
    <section class="cv-right-now">
      <h2>Right now</h2>
      <p>Doing a <a href="https://www.rca.ac.uk/degree-programmes/history-of-design-ma/" title="V&A/RCA History of Design MA">MA in History of Design</a> with the V&A Museum/Royal College of Art in London. Designing for <em><a href="https://logicmag.io/care/">Logic Magazine</a></em>. Thinking about <a href="https://yalepaprika.com/folds/a-field-to-seed-or-not-to-seed/the-autogenerated-gardens-of-the-anthropocene">climate change in the physical and digital realm</a>.
    </section>
    <section class="cv-previously">
      <h2>Previously</h2>
      <p>Product design lead at Palantir&thinsp;<time datetime="2016/2020">2016–2020</time>. Spoke at <a href="https://www.youtube.com/watch?v=gFwocx7kpOA&list=PLBsiKvJPy6IEgUq1phJjNbtCwrqfqipLk&index=11">AIGA’s Emerging Designers Symposium</a>&thinsp;<time datetime="2017">2017</time>. Designed at Artsy&thinsp;<time datetime="2015">2015</time> and Google&thinsp;<time datetime="2014">2014</time>. Studied computer science & communication design at Carnegie Mellon&thinsp;<time datetime="2011/2016">2011–2016</time>.</p>
    </section>
  </section>
</div>
