@font-face {
  font-family: "Canela Web";
  src: url("type/Canela-Medium-Web.woff2") format("woff2"), url("type/Canela-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Canela Web";
  src: url("type/Canela-Light-Web.woff2") format("woff2"), url("type/Canela-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Canela Web";
  src: url("type/Canela-LightItalic-Web.woff2") format("woff2"), url("type/Canela-LightItalic-Web.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Founders Grotesk Web";
  src: url("type/FoundersGroteskWeb-Medium.woff2") format("woff2"), url("type/FoundersGroteskWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Founders Grotesk Web";
  src: url("type/FoundersGroteskWeb-MediumItalic.woff2") format("woff2"), url("type/FoundersGroteskWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
body p {
  margin: 0;
}
body a {
  border-bottom: 1px solid #0a4774;
  color: #0a4774;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
body a:hover {
  border-bottom: 1px solid #0a4774;
}

.content {
  display: flex;
  flex-direction: column;
}

.intro,
.excited,
.cv {
  box-sizing: border-box;
}

header {
  margin: 40px auto;
}
header h1 {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  color: #0a4774;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  position: relative;
}
.intro .intro-color {
  background-color: #f3dcf0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.intro .intro-about,
.intro .intro-email {
  margin-left: 50px;
  margin-right: 50px;
}
.intro .intro-about {
  font-family: "Canela Web", "Baskerville", "Garamond", "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #0a4774;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding-top: 50px;
}
.intro .intro-about a {
  letter-spacing: normal;
  padding: 4px 2px 0;
}
.intro .intro-about a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.intro .intro-email {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 150px;
  margin-top: 50px;
}
.intro .intro-email a {
  border-bottom-color: #f3dcf0;
}
.intro .intro-email a:hover {
  border-bottom-color: #0a4774;
}

.excited {
  background-color: #f04646;
  color: #fff;
  margin-top: -100px;
  mix-blend-mode: multiply;
}
.excited .excited-open,
.excited .excited-close {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}
.excited .excited-close {
  text-align: right;
}
.excited .excited-list {
  margin: 30px auto;
  text-align: center;
}
.excited .a,
.excited .b,
.excited .divider {
  line-height: 30px;
}
.excited .divider {
  font-family: "Canela Web", "Baskerville", "Garamond", "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
.excited .a,
.excited .b {
  text-transform: uppercase;
}
.excited .a {
  font-family: "Canela Web", "Baskerville", "Garamond", "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.75px;
}
.excited .b {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cv {
  color: #0a4774;
}
.cv h2 {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
}
.cv p {
  font-family: "Canela Web", "Baskerville", "Garamond", "Times New Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin: 0;
}
.cv a {
  letter-spacing: normal;
  padding: 2px 2px 0;
}
.cv a:hover {
  background-color: #f3dcf0;
}
.cv time {
  font-family: "Founders Grotesk Web", "Helvetica", -apple-system, "Arial", sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
}
.cv .cv-previously {
  margin-top: 40px;
}

@media (max-width: 900px) {
  .intro {
    margin-right: 50px;
  }

  .excited {
    margin-left: 100px;
  }

  .cv {
    margin: 50px;
    max-width: 700px;
  }
}
@media (min-width: 900px) {
  body {
    margin: 0 auto 50px;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .content .intro {
    flex-basis: 60%;
    order: 1;
  }
  .content .cv {
    flex-basis: 40%;
    order: 2;
    padding-left: 40px;
  }
  .content .excited {
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    order: 3;
    width: 70%;
  }
}
@media (max-width: 500px) {
  header {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .intro {
    margin-right: 50px;
  }
  .intro .intro-about,
.intro .intro-email {
    margin-left: 30px;
    margin-right: 30px;
  }
  .intro .intro-about {
    font-size: 24px;
    line-height: 40px;
  }
  .intro .intro-email {
    font-size: 15px;
    margin-top: 40px;
  }

  .excited {
    margin-left: 30px;
    padding: 20px;
  }
  .excited .excited-close {
    margin-left: auto;
    width: 60%;
  }
  .excited .a {
    font-size: 14px;
  }
  .excited .b {
    font-size: 16px;
  }

  .cv {
    margin: 30px 30px 40px;
  }
  .cv h2 {
    font-size: 12px;
    line-height: 30px;
  }
  .cv p {
    font-size: 16px;
    line-height: 26px;
  }
  .cv .cv-previously {
    margin-top: 30px;
  }
}
@media (min-width: 500px) {
  .excited {
    padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
