$lavender: #f3dcf0;
$persimmon: #f04646;
$navy: #0a4774;
$white: #fff;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

@import 'canela';
@import 'foundersGrotesk';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  p {
    margin: 0;
  }

  a {
    border-bottom: 1px solid $navy;
    color: $navy;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .5s;

    &:hover {
      border-bottom: 1px solid $navy;
    }
  }

}

.content {
  display: flex;
  flex-direction: column;
}

.intro,
.excited,
.cv {
  box-sizing: border-box;
}

header {
  margin: 40px auto;

  h1 {
    @include typeface-founders-grotesk;
    color: $navy;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.intro {
  position: relative;

  .intro-color {
    background-color: $lavender;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .intro-about,
  .intro-email {
    margin-left: 50px;
    margin-right: 50px;
  }

  .intro-about {
    @include typeface-canela;
    color: $navy;
    font-size: 30px;
    letter-spacing: .5px;
    line-height: 50px;
    padding-top: 50px;

    a {
      letter-spacing: normal;
      padding: 4px 2px 0;
    }

    a:hover {
      background-color: rgba($white, .5);
    }
  }

  .intro-email {
    @include typeface-founders-grotesk;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 150px;
    margin-top: 50px;

    a {
      border-bottom-color: $lavender;
    }

    a:hover {
      border-bottom-color: $navy;
    }
  }

}

.excited {
  background-color: $persimmon;
  color: $white;
  margin-top: -100px;
  mix-blend-mode: multiply;

  .excited-open,
  .excited-close {
    @include typeface-founders-grotesk;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
  }

  .excited-close {
    text-align: right;
  }

  .excited-list {
    margin: 30px auto;
    text-align: center;
  }

  .a,
  .b,
  .divider {
    line-height: 30px;
  }

  .divider {
    @include typeface-canela;
  }

  .a,
  .b {
    text-transform: uppercase;
  }

  .a {
    @include typeface-canela;
    font-size: 15px;
    font-weight: $weight-medium;
    letter-spacing: .75px;
  }

  .b {
    @include typeface-founders-grotesk;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.cv {
  color: $navy;

  h2 {
    @include typeface-founders-grotesk;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    @include typeface-canela;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 30px;
    margin: 0;
  }

  a {
    letter-spacing: normal;
    padding: 2px 2px 0;

    &:hover {
      background-color: $lavender;
    }
  }

  time {
    @include typeface-founders-grotesk;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .cv-previously {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .intro {
    margin-right: 50px;
  }

  .excited {
    margin-left: 100px;
  }

  .cv {
    margin: 50px;
    max-width: 700px;
  }
}

@media (min-width: 900px) {
  body {
    margin: 0 auto 50px;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;

    .intro {
      flex-basis: 60%;
      order: 1;
    }

    .cv {
      flex-basis: 40%;
      order: 2;
      padding-left: 40px;
    }

    .excited {
      align-self: flex-end;
      margin-left: auto;
      margin-right: auto;
      order: 3;
      width: 70%;
    }
  }
}

@media (max-width: 500px) {
  header {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .intro {
    margin-right: 50px;

    .intro-color {
      // changed my mind!
      // width: 85%;
    }

    .intro-about,
    .intro-email {
      margin-left: 30px;
      margin-right: 30px;
    }

    .intro-about {
      font-size: 24px;
      line-height: 40px;
    }

    .intro-email {
      font-size: 15px;
      margin-top: 40px;
    }
  }

  .excited {
    margin-left: 30px;
    padding: 20px;

    .excited-close {
      margin-left: auto;
      width: 60%;
    }

    .a {
      font-size: 14px;
    }

    .b {
      font-size: 16px;
    }
  }

  .cv {
    margin: 30px 30px 40px;

    h2 {
      font-size: 12px;
      line-height: 30px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    .cv-previously {
      margin-top: 30px;
    }
  }
}

@media (min-width: 500px) {
  .excited {
    padding: 30px;
  }
}
