@import 'variables';

@import 'canela';
@import 'foundersGrotesk';
@import 'lyon';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  p {
    margin: 0;
  }

  a {
    border-bottom: 1px solid $navy;
    color: $navy;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .5s;

    &:hover {
      border-bottom: 1px solid $navy;
    }
  }
}

header {
  margin: 40px auto;

  h1 {
    @include typeface-founders-grotesk;
    color: $navy;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 900px) {
  body {
    margin: 0 auto 50px;
  }
}
