<section class="about">
	<div>
	<p>In seventh grade, my Neopets obsession inspired me to dabble in web design and development, and later programming (goal: to be able to build a Neopets-style site someday). I'm now studying computer science and communication design at <abbr title="Carnegie Mellon University">CMU</abbr>. I like quantifying things and finding the perfect verbal articulation of an idea. I also enjoy bubble tea, cropping photos to squares or 16:9 aspect ratios, and infecting other people with a love for design and typography.</p>

	<p>I've started (and finished!) four <%= link_to "NaNoWriMo", "http://nanowrimo.org/" %>s.  I'm slowly moving from writing fiction and poetry to writing essays about design over at <%= link_to "Medium", "https://medium.com/@mynameisceline" %>.</p>
</div>
</section><!-- .about -->