<header>
  <div>
  <h1><%= link_to "Celine Nguyen", "/" %></h1>
  <ul>
    <%# if current_page.data.bodyclass == "portfolio" %>
      <li><%= link_to "About",  "/about.html" %></li>
      <li><%= link_to "R&eacute;sum&eacute;", "/resume.pdf" %></li>
  </ul>
  </div>
</header>