---
title: About Me
---

<section>
	<div class="description">
		<figure><%= image_tag "me.png" %></figure>
		<p><span class="lead">In seventh grade, my Neopets obsession</span> inspired me to dabble in web design and development, and I've been fiddling with pixels ever since. I like quantifying things and finding the perfect verbal articulation of an idea. I also enjoy bubble tea, Markdown, and infecting other people with a love for design and typography.</p>
		<p>I'm interested in software product and interaction design, but I really love (and secretly indulge in) print and editorial design. My goals for the future include: designing a typeface (a humanist sans serif with a whimsical italic), actually posting something to dribbble, completing NaNoWriMo for the <em>fifth</em> time, and designing things that positively impact people's lives.</p>
	</div>
	<ul class="details">
		<li><strong>Hometown</strong> Palo Alto, CA</li>
		<li><strong>College</strong> Carnegie Mellon University</li>
		<li><strong>Major</strong> <%= link_to "Computer Science <span class='amp'>&amp;</span> Communication Design", "http://www.cmu.edu/interdisciplinary/programs/bcsaprogram.html" %></li>
		<li><strong>Year</strong> Junior</li>
		<hr>
		<li class="longform"><strong>Currently Reading</strong> <%= link_to("How the Mind Works", "http://www.amazon.com/How-Mind-Works-Steven-Pinker/dp/1469228424") %>, <%= link_to("The Education of a Graphic Designer", "http://www.amazon.com/Education-Graphic-Designer-Steven-Heller/dp/1581154313") %></li>
		<hr>
		<li class="longform"><strong>Current Favorite Typefaces</strong> FF Skolar, Futura, Novel Pro, Oksana, Consolas</li>
	</ul>
<section>