---
bodyclass: portfolio
---

<section>
	<a href="#">
		<figure class="text-overlay featured">
			<%= image_tag "http://placehold.it/1000x400&text=%20" %>
			<figcaption>
				<h6>View PDF</h6>
			</figcaption>
	</figure>
	</a>
	<div class="description">
		<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
	</div>
	<ul class="details">
		<li><strong>Sociis</strong> natoque penatibus</li>
		<li><strong>Magnis</strong> dis montes</li>
	</ul>
<section>