---
bodyclass: portfolio
---

<section>
	<div class="description">
		<p>I interned at Google this past summer, working on the Google Search App for iOS with a team of excellent designers, researchers, and engineers. <em>(I'll share more screenshots and specifics about my work as the features I worked on get released!)</em></p>
		<h3>Design</h3>
		<p>The first month of my internship was spent designing a new onboarding flow, to match Google's new <%= link_to "material design", "http://www.google.com/design/spec/material-design/introduction.html" %> spec. I worked closely with other designers on our team, as well as some stakeholders in marketing, to develop a vibrant visual style that would clearly explain the important app features. The visual design I worked on heavily informed the animated onboarding flow that shipped to all users.</p>
		<p>The rest of my internship was devoted to exploring higher-level questions about how users currently find information. I was able to work closely with other designers on my team, as well as the PM, tech lead, and engineers, to explore multiple interaction models for a core app feature. I produced a <em>ton</em> of mockups and flows (and a few interactive prototypes) to help communicate different models and their pros and cons to other members of the team.
		<h3>Research</h3>
		<p>Throughout the summer, I got to assist in multiple user studies that the search UX researchers ran. At the end of the summer, I assisted in a comprehensive study to measure the effectiveness of various interaction models I'd worked on earlier in the summer. I wrote a study script, observed participants, and summarized the findings and provided concrete design suggestions to the team.</p>
	</div>
	<ul class="details">
		<li><strong>Year</strong> Summer 2014</li>
	</ul>
<section