---
bodyclass: portfolio
---

<section>
	<!-- <a href="#">
		<figure class="text-overlay featured">
			<%= image_tag "http://placehold.it/1000x400&text=%20" %>
			<figcaption>
				<h6>View PDF</h6>
			</figcaption>
		</figure>
	</a> -->
	<div class="description">
		<p><span class="lead">I've done several lettering projects</span> for different student organizations, at my high school and now at CMU. This is an area where I'm still exploring and developing my technical skills and compositional eye&mdash;in showing hierarchy through longer lettering pieces, and in developing a consistent character between different letterforms in a work.</p>
		<%= image_tag "grt192-large.png" %>
		<p>This illustrative lettering project was for my high school robotics team (Gunn Robotics Team, with the official FIRST FRC team number 192), and the design was used for our team t-shirts as well as small pin buttons we handed out during regional competition events.</p>
		<p>Each letter was intended to illustrate a technical subgroup/area of expertise within our team, or showcase a particular design feature of our robot. The G and R show aspects of the drivetrain wheels and frame of the robot, respectively; the T illustrates a drill bit, since our team machines all our parts ourselves; the 1 shows a pneumatic actuator, to represent our pneumatics team; the 9 represents our CAD team; the 2 represents our controls and programming team. <em>(Spring 2011)</em></p>
		<%= image_tag "commitment-large.png" %>
		<p>This bit of lettering (using a quote from an old Shearson Lehman/American Express advertisement) was used in a promotional poster for CMU's second annual spring hackathon&mdash;Tartanhacks, put on by the organization ScottyLabs. The specs for the project were pretty loose (since more-illustrative posters were complemented by less visual but more information-dense posters), so this was the first significant lettering project I ever did. <em>(Spring 2013)</em></p>
		<%= image_tag "axobidnight-large.png" %>
		<p>I was given the task of lettering a quote to be used for bid night tanks for the Alpha Chi Omega chapter at CMU. Bid night is one of the most memorable events during the  formal member recruitment process for Panhellenic sororites, and each sorority will design and print bid night shirts to give to the new members and current sisters. Our bid night theme was 'Sweets and Treats' (with the colors coral and teal), so the design needed to stay consistent with that. I went for a fairly loose, scripty style, with words flowing through extended swashes into one another. The lettering paraphrases our motto&mdash;"Together let us seek the heights". <em>(Fall 2013)</em>
	</div>
	<ul class="details">
		<li><strong>Year</strong> 2011&ndash;2013</li>
		<li><strong>For</strong> Various student organizations</li>
	</ul>
<section>