---
bodyclass: portfolio
---

<section>
	<a href="http://frequentfluxarmada.tumblr.com/">
		<figure class="text-overlay featured">
			<%= image_tag "photography-large.png" %>
			<figcaption>
				<h6>View photography blog</h6>
			</figcaption>
	</figure>
	</a>
	<div class="description">
		<p><span class="lead">I've been an amateur photographer for a few years</span>; I'm especially interested in wide 16:9 or square crops, architectural and landscape photography, and frames within frames.</p>
	</div>
	<ul class="details">
		<li><strong>Years</strong> 2011&ndash;2013</li>
		<li><strong>For</strong> Personal work</li>
	</ul>
<section>